<!DOCTYPE html>
<html lang="es" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>__TITLE__ | Francisco</title>
  <meta name="description" content="__DESC__">
  <meta name="theme-color" content="#010101">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚡</text></svg>">
  <link href="/dist/styles.css" rel="stylesheet">
</head>
<body class="bg-dark text-white antialiased">
