<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>__TITLE__ | Francisco</title>
  <meta name="description" content="__DESC__">
  <meta name="theme-color" content="#000">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚡</text></svg>">
  <link rel="preconnect" href="https://www.epic.net" crossorigin>
  <link rel="preload" href="https://www.epic.net/fonts/SangBleuEmpire-Regular-WebS.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://www.epic.net/fonts/SangBleuEmpire-Black-WebS.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://www.epic.net/fonts/inter-v11-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://www.epic.net/fonts/inter-v11-latin-700.woff2" as="font" type="font/woff2" crossorigin>
  <link href="/styles.css" rel="stylesheet">
</head>
<body>
